* {
  outline: 0 !important;
} 

.imageGalerey {
  opacity: 1;
  /* filter: blur(2px); */
}

.imageGalerey:hover {
  opacity: 1;
  box-shadow: 2 2 10px #343434
  /* filter: blur(0px); */
}

.MuiIconButton-label:hover{
  box-shadow: 2 2 10px #343434
}

.dialogGalery{
  opacity: 0.9;
  background-color: #545454
}
