.Contact {
  color: black;
  background-color: white;
  
}

.Contact a {
  color: black;
}

.Contact a:hover {
  color: black;
  text-decoration: underline;
}

.Contact .addressCard {
  color:black;
  margin: 1em;
  height: 300px;
}


