.Contact {
  color: white;
  background-color: black;
  
}

.Contact a {
  color: white;
}

.Contact a:hover {
  color: white;
  text-decoration: underline;
}

.Contact .addressCard {
  margin: 1em;
  height: 300px;
}


